@tailwind base;
@tailwind components;
@tailwind utilities;

.food-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.banner-img {
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 calc(60% - 13.333px);
    min-width: 0;
    margin: 0px 14px;
}

.css-10o2lyd-MuiStack-root {
    padding-top: 0px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 11.5px 14px !important;
}

@media screen and (min-width:1024px) {
    .embla__slide {
        flex: 0 0 calc(20.333% - 13.333px);
        min-width: 0;
        margin: 0px 14px;
    }
}