@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
}

.food-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.banner-img {
    background-image: url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
}

.auth-banner{
    background-image: url("./assets/authentication/pexels-donghuangmingde-2313037.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.home-page-banner{
    background-image: url("./assets/landing_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #FFF;
    clip-path: inset(0 -100vmax);
  }
  
  .discover {
    background-color: #FFF;
  }

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    margin: 0px 14px;
}
.embla__slide2 {
    flex: 0 0 100%;
    min-width: 0;
    /* margin: 0px 14px; */
}

.css-10o2lyd-MuiStack-root {
    padding-top: 0px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 11.5px 14px !important;
}
