@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 calc(60% - 13.333px);
    min-width: 0;
    margin: 0px 14px;
}

@media screen and (min-width:1024px) {
    .embla__slide {
        flex: 0 0 calc(20.333% - 13.333px);
        min-width: 0;
        margin: 0px 14px;
    }
}